.desktop-header_nav{
    display: flex;
    flex-direction: row;
    color: rgb(153, 152, 152);
    height: 95px;
    justify-content: center;
    align-items: center;
}
.header-nav_block{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.desktop-another_block{
    display: flex;
}
.desktop-header_links{
    display: flex;
    padding-right: 15px;
}
.another-block_phone{
    display: flex;
}
.header-links_item a{
    text-decoration: none;
    color: gray;
}

.header-logo_name{
    padding-right: 15px;
}
.header-links_item{
    padding-right: 5px;
    padding-left: 5px;
}

.desktop-header_buttons{
    margin: 0 10px;
}
.desktop-header_buttons button{
    margin: 0 5px;
    padding: 0 5px;
    height: 35px;
    border-radius:13px ;
    outline: none;
    cursor: pointer;
    width: 125px;
}
.header-buttons_green{
    border: none;
    background-color: rgb(118, 173, 80);
    color: white;
}
.header-buttons_white{
    border: 2px solid gray;
    background-color: rgba(255, 255, 255, 0);
    color: gray;
}
.another-block_phone {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* Костыль :( */
.another-block_phone p{
    padding-bottom: 5%;
    margin: 0 10px
}
.laguage-change_button{
    background-color: rgb(241, 241, 241);
    border: none;
    width: 75px;
    border-radius: 12px;
    outline: none;
    cursor: pointer;
}