.presentation-component_styles{
    padding: 0 55px;
}
.presentation-component_title{
    font-size: 40px;
    white-space: pre-line;
    line-height: 2rem;
}
.main-page_title{
    top: 100px;
}
.presentation-component_title p:nth-child(1){
    padding-top: 55px;
}
.presentation-component_info{
    padding-top: 35px;
    font-size: 35px;
}
.presentation-component_info p:nth-child(2){
    padding-top: 35px;
}
.samurai-easter_egg{
    padding-top: 65px;
}

@media(max-width:1630px){
    .presentation-component_title{
        font-size: 35px;
    }
    .presentation-component_info{
        font-size: 30px;
    }
} 
@media(max-width:1330px){
    .presentation-component_title{
        font-size: 30px;
    }
    .presentation-component_info{
        font-size: 25px;
    }
}

@media(max-width:1024px){
    .presentation-component_title{
        font-size: 25px;
    }
    .presentation-component_info{
        font-size: 20px;
    }
    .presentation-component_styles{
        padding: 0 55px;
    }
}
@media(max-width:769px){
    .presentation-component_title{
        font-size: 20px;
    }
    .presentation-component_info{
        font-size: 15px;
    }
    .presentation-component_styles{
        padding: 0 40px;
    }
}
@media(max-width:568px){
    .presentation-component_title{
        font-size: 17px;
        line-height: 1rem;
        
    }
    .presentation-component_info{
        font-size: 12px;
        padding-top: 15px;
    }
    .presentation-component_title p:nth-child(1){
        padding-top: 25px;
    }
    .presentation-component_info p:nth-child(2){
        padding-top: 15px;
        margin: 0;
       
    }
    .presentation-component_styles{
        padding: 0 5px;
    }
}
@media(max-width:320px){
    .presentation-component_info{
        font-size: 16px;
        padding-top: 15px;
        width: 300px;
    }
    .presentation-component_title p{
        width: 300px;
    }

}

