.breadcrumb{
    list-style: none;
    color: white;
    display: flex;
    align-items: center;
}
.breadcrumb li{
    padding: 0 5px;
}
.main-roots_nav{
    color: white;
    padding-top: 55px;
    padding-left: 55px;
}
.breadcrumb-nav_item{
    color: white;
    text-decoration: none;
}
.breadcrumb-nav_item:hover{
    color: rgb(118, 173, 80);;
}
.main-page_title{
    color: rgb(240, 240, 240);
    font-size: 35px;
    padding-top: 75px;
    padding-left: 55px;
}
.switchable-content_block{
    margin-top: 75px;
    font-size: 55px;
    color: gray;
    background-color: rgba(255, 255, 255, 0.76);
    height: 64.6vh;
    width: 60%;
    border-radius: 0 50px 0px 0px;
}
.breadcrumbs-button{
    color: white;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
}
.mobile-page_title{
    display: none;
}
@media(max-width:1980px){
    .switchable-content_block{
        height: 50vh;
    }
}
@media(max-width:1680px){
    .switchable-content_block{
        height: 35vh;
    }
}
@media(max-width:769px){
    .main-page_title{
        display: none;
    }
    .mobile-page_title{
        display: initial;
        font-size: 25px;
        padding-left: 55px;
        padding-right: 55px;
    }
    .switchable-content_block{
        margin-top: 285px;
        font-size: 55px;
        color: gray;
        background-color: rgba(255, 255, 255, 0.76);
        height: 45vh;
        width: 80%;
        margin-right: 60px;
        margin-left: 60px;
        border-radius: 50px 50px 0px 0px;
    }
 }
 @media(max-width:768px){
    .switchable-content_block{
        height: 35vh;
    }
}
 @media(max-width:414px){
    .switchable-content_block{
        height: 35vh;
        width: 393px;
        margin-right: 10px;
        margin-left: 10px;
    }
 }
 @media(max-width:411px){
    .switchable-content_block{
        height: 35vh;
        width: 391px;
        margin-right: 10px;
        margin-left: 10px;
    }
 }
 @media(max-width:375px){
    .switchable-content_block{
        height: 35vh;
        width: 355px;
        margin-right: 10px;
        margin-left: 10px;
    }
    .mobile-page_title{
        font-size: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }
 }
 @media(max-width:360px){
    .switchable-content_block{
        height: 55vh;
        width: 340px;
        margin-right: 10px;
        margin-left: 10px;
    }
    .mobile-page_title{
        font-size: 25px;
        padding-left: 15px;
        padding-right: 15px;
    }
 }
 @media(max-width:320px){
    .switchable-content_block{
        height: 75vh;
        width: 300px;
        margin-right: 10px;
        margin-left: 10px;
    }
    .mobile-page_title{
        font-size: 19px;
        padding-left: 15px;
        padding-right: 15px;
    }
 }

 @media(max-height:800px){
     .switchable-content_block{
         height: 500px;
     }
 }