.Main-page_block{
    height: 75vh;
    background-image: url('./../../../Files/Images/tooth-tech.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .Main-page_roots{
    padding-top: 15px;
    padding-left: 55px;
} */

.breadcrumb{
    color: white;
    display: flex;
    align-items: center;
}
.breadcrumb li{
    padding: 0 5px;
}
