.Main-page_block{
    background-image: url('./../../Assets/tooth-tech.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
}

.breadcrumb{
    color: white;
    display: flex;
    align-items: center;
}
.breadcrumb li{
    padding: 0 5px;
}

