.Doctors-about_block{
    padding: 10px 180px 0 55px;
    font-size: 21.5px;
    line-height: 1.8rem;
    color: gray;
}
.about-block_title{
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 27px;
    font-weight: 700;
}