.doctors-about_block{
    padding: 10px 180px 0 55px;
    font-size: 21.5px;
    line-height: 1.8rem;
    color: gray;
}
.about-block_title{
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 27px;
    font-weight: 700;
}
@media(max-width:769px){
    .doctors-about_block{
        padding: 0px 40px 0 40px;
        font-size: 21.5px;
        line-height: 1.8rem;
        color: gray;
    }
    .about-block_info{
        font-size: 18px;
    }
}
@media(max-width:496px){
    .about-block_info{
        font-size: 15px;
    }
    .doctors-about_block{

        font-size: 19.5px;
        line-height: 1.4rem;
        color: gray;
    }
}